<!DOCTYPE html>
<html lang ="fr">
<head>
  <head>

    <link rel="stylesheet" href="/src/style/normalize.css">
    <link rel="stylesheet" href="/src/style/index.css">
</head>
  </head>
  <body>
    <form action="/inscription" method="post" enctype="multipart/form-data">

      <h1>Formulaire de pré-inscription</h1>

      <fieldset>
        <legend><span class="number">1</span>Informations Basic</legend>
        <label for="name">Nom & Prénoms :</label>
        <input type="text" id="name" name="name" required>

        <label for="mail">Email:</label>
        <input type="email" id="mail" name="email" placeholder="email@gmail.com" required>

        <label for="phone">Numéro de téléphone:</label>
        <input type="text" id="phone" name="phone" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" placeholder="XX-XX-XX-XX-XX" required/>

        <label for="sexe">Genre:</label>
            <div class="register-switch">
              <input type="radio" name="sexe" value="F" id="sex_f" class="register-switch-input" checked>
              <label for="sex_f" class="register-switch-label">Féminin</label>
              <input type="radio" name="sexe" value="M" id="sex_m" class="register-switch-input">
              <label for="sex_m" class="register-switch-label">Masculin</label>
            </div>

        <label for="age"  >Age:</label>
        <input type="number" min="0" id="age" placeholder="0" required/>

        <label for="pays" >Votre Pays D'origine :</label><br>
     <select name="nationality" id="pays" required>
      <option value="" disabled selected>--Veuillez Choisir--</option>

      <% for( let i = 0; i < data.length; i++ ) { %>
        <option value="<%= data[i] %>"><%= data[i] %></option>
      <% } %>
      
    </select>

      </fieldset>
        <p class="Info_Tech"><span class="number">2</span>Informations Technique</p>
      <fieldset>

      <label for="niveauEtude" >Niveau D'etude:</label>
      <select name="niveauEtude" id="Niveau_D'etude" required>
        <option value="" disabled selected>--Veuillez Choisir--</option>
        <option value="Bac">Bac</option>
        <option value="L">License</option>
        <option value="M">Maitrise/Master</option>
        <option value="FT">Formation Technique</option>
        <option value="Dr">Doctorat</option>
        <option value="Autre">Autre</option>
      </select>
      <label for="occupationActuelle" >Occupation Actuelle:</label>
      <select name="occupationActuelle" id="Occupation_Actuelle" required>
        <option value="" disabled selected >--Veuillez Choisir--</option>
        <option value="Bac">Entrepreneur</option>
        <option value="L">Etudiant en debut de cycle</option>
        <option value="M">Etudiant en fin de cycle</option>
        <option value="FT">Nouveau Bachelier</option>
        <option value="Dr">Salarie prive</option>
        <option value="Autre">Fonctionnaire de l'Etat</option>
        <option value="Autre">Enseignant a plein temps</option>
        <option value="Autre">Enseignant Vacataire</option>
        <option value="Autre">Freelancer</option>
        <option value="Autre">Autre</option>

      </select>
      <label for="experienceProgramation" >Avez Vous De L'experience en programation ?</label>
      <select name="experienceProgramation" id="Exp_Prog" required>
        <option value="" disabled selected>--Veuillez Choisir--</option>
        <option>Je l'ai etudie brievement a lecole </option>
        <option>J'en ai jamais entendu parler</option>
        <option>Je peux mettre en oeuvre des programmes</option>
        <option>Je peux reparer un site web</option>
        <option>J'ai une grande competence</option>
        <option>Je connais bien la programation</option>
      </select>

          <label>Des Objectifs D'apres Formation ?</label>

          <input type="checkbox" name="objectif" value="Creer Votre Propre Entreprise"><label class="light" >Creer Votre Propre Entreprise</label><br>
          <input type="checkbox" name="objectif" value="Poursuivre les etudes"><label class="light" >Poursuivre les etudes</label><br>
          <input type="checkbox" name="objectif" value="Chercher de l'emploi"><label class="light" >Chercher de l'emploi</label><br>
          <input type="checkbox" name="objectif" value="Autre"><label class="light" >Autre</label>
          </fieldset>

          <fieldset>
            <label for="coursPrepa">Participer au cours preparatoire ?</label>
                <p class="form-explain" >Notre programme est très intensif. Nous avons remarqué que les abandons venez surtout de ceux qui n'avaient aucune base en programmation. Vu que vous êtes un débutant, nous vous recommandons de prendre un temps pour suivre nos cours préparatoire qui vont vous initier à la programmation. Vous pourrez ainsi passer plus facilement le test d'admission au programme et réussir la formation. Ce cours préparatoire dure 1 mois.</p>
                <select name="coursPrepa" id="Cours_preparatoire" required>
                  <option value="" disabled selected>--Veuillez Choisir--</option>
                  <option>Oui, je voudrais Bien !! </option>
                  <option>Non, j'ai deja une petite experience.</option>
                </select>
          </fieldset>

          <fieldset>
          <label for="disponibilite" >[Votre disponibilité] Sachant que la formation dure 4 mois plus 1 mois de stage, pensez-vous avoir le temps de consacrer 8h par jour a cette formation ? </label>
            <select name="disponibilite" id="Disponibilite" required>
              <option value="" disabled selected>--Veuillez Choisir--</option>
              <option>Oui, j'en suis sur !! </option>
              <option>Oui, En m'organisant un peu mieux</option>
              <option>Oui, Si je prend conge</option>
              <option>Non</option>
            </select>
          </fieldset>

          <fieldset>
            <label>Avez vous un ordinateur portatif  répondant au minimum d'exigences suivantes ? </label>
                <p class="form-explain">Cette condition est cruciale. Car la formation se fera en ligne et vous devrez joindre de la salle de conférence zoom plusieurs fois par semaine. Sans un matériel répondant a ces exigences, vous ne pourrez pas suivre la formation dans les bonnes conditions.</p>
                <ul class="form-explain">
                  <li>1.6 GHz processeur</li>
                  <li>4 Go RAM</li>
                  <li>120 Go de disque dur</li>
                  <li>Microphone avec un bon son.</li>
                  <li>Webcame avec une image clair</li>
                </ul>
                <select name="exigence" required>
                  <option value="" disabled selected>--Veuillez Choisir--</option>
                  <option>Oui</option>
                  <option>Non</option>
                </select>
          </fieldset>

          <fieldset>
          <label for="niveauAnglais" >Pouvez vous parler et écrire Anglais ?</label>
          <p class="form-explain">Vous pouvez tester ici votre niveau d'anglais. Ce n'est pas une condition obligatoire pour être sélectionné. Mais le fait d'avoir au moins un niveau B2 en anglais vous aidera dans le monde de la programmation.</p>
            <p><a href="https://www.efset.org/cefr/b2/" rel='noopener' target="_blank">https://www.efset.org/cefr/b2/</a></p>
            <select name="niveauAnglais" id="Lang" required>
              <option value="" disabled selected>--Veuillez Choisir--</option>
              <option>Oui, j'ai un niveau B2 ! </option>
              <option>Oui, je l'ai appris a l'ecole</option>
              <option>Oui, Si j'ai un certificat en Anglais</option>
              <option>Oui, Si je parle courament l'anglais</option>
              <option>Non, pas du tout.</option>
            </select>
          </fieldset>

          <fieldset>
          <label for="accesInternet">Avez Vous Un Acces Permanent à internet ?</label>
          <p class="form-explain">Les exigences en matière d'accès à internet sont très importantes.</p>
          <ul class="form-explain">
            <li>vitesse de téléchargement au moins de 3 Mbps</li>
            <li>Ping/Latency en dessous de 150 ms</li>
            <li>Perte de paquet en dessous de 1%</li>
          </ul>
          <p class="form-explain">Pour mesurer la perte de paquet, ouvrez votre terminal et tapez la ligne de comande suivante : </p>
          <ul class="form-explain">
            <li>Si vous êtes sur  Mac/Linux : ping -c 100 8.8.8.8</li>
            <li>Si vous étés sur  Windows : ping -n 100 8.8.8.8</li>
          </ul>
          <p class="form-explain">Utilisez ce lien pour confirmer la qualité de votre internet :
            <a href="http://microverse.speedtestcustom.com/" rel='noopener' target="_blank">http://microverse.speedtestcustom.com/</a><br>
              Faite une capture d'écran et attachez-la ici</p>
              <label class ="form-explain">Select files:</label>
              <input type="file" name="image" id="image"><br><br>
              </fieldset>

              <fieldset>
              <legend><span class="number">3</span>Conclusion</legend>
              <label for="bio">Autres informations ou préoccupation nécessaire que vous souhaitez partagez avec l'équipe de sélection :</label>
              <textarea id="bio" name="bio"></textarea>
              <button type="submit" class="submit">Soumettre</button>
              </fieldset>
    </form>
  </body>

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.all.min.js"></script>
  <script>

      if ("<%=message['success']%>"!="") {
          Swal.fire({
            icon: 'success',
            text:"<%= message['success'] %>"
        })
      }
     else if("<%=message['error']%>"!=""){
        Swal.fire({
          icon: 'error',
          text:"<%= message['error'] %>"
       }) 
     }
     else if("<%=message['warning']%>"!=""){
      Swal.fire({
          icon: 'warning',
          text:"<%= message['warning'] %>"
       })
     }
  
   
 </script>
</html>
